logs/
options.txt
usercache.json
usernamecache.json
.vscode
rhino.local.properties
patchouli_data.json
saves/
config/oculus.properties
config/forge-client.toml
.curseclient
config/roughlyenoughitems/config.json5
config/oculus.properties
config/fabric/indigo-renderer.properties
config/indium-renderer.properties
config/oculus.properties
config/roughlyenoughitems/pinyin_double.properties
config/roughlyenoughitems/config.json5
config/roughlyenoughitems/pinyin.properties
config/roughlyenoughitems/pinyin_double.properties
